.links-container {
    display: flex;
    font-weight: 400;
    color: #ffff;
    cursor: pointer;
    align-items: center;
}

.links-container .link {
    display: flex;
    padding: 0px 20px 0px 20px;
}

.links-container .link:hover {
    color: #0e98fa;
}
